.container {
  height: 100%;
}

.container > .content {
  max-width: 100%;
  min-width: 100%;
  overflow: auto;
  padding: 20px 5px;
}

.container > .buttons {
  max-width: 100%;
}

.container > .buttons > div > .buttonSave {
  height: 100%;
  background-color: darkseagreen;
  font-weight: 600;
}

.container > .buttons > div > .buttonCancel {
  height: 100%;
  background-color: chocolate;
  font-weight: 600;
}
